SOAPpy==0.12.0
apt-xapian-index==0.45
argparse==1.2.1
chardet==2.0.1
fpconst==0.7.2
python-apt==0.8.8.2
python-debian==0.1.21
python-debianbts==1.11
reportbug==6.4.4
stevedore==0.10
virtualenv==1.10
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2
